<%-include('../includes/adminStart') %>

    <!--Navbar closes here-->

    <body class="bg-gray-100 dark:bg-gray-900 font-sans">

        <%-include('../includes/components/adminAside') %>

        <div class="p-4 sm:ml-64">
            <%-include('../includes/components/adminNav') %>
            <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Product name
                                </th>
                                <!-- <th scope="col" class="px-6 py-3">
                                    Color
                                </th> -->
                                <th scope="col" class="px-6 py-3">
                                    Category
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Size
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Quantity
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Image
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                            <!-- Modal toggle -->
                            <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                                class="block mb-4 text-white bg-red-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Add Product
                            </button>

                            <!-- Main modal -->
                            <div id="default-modal" tabindex="1" aria-hidden="true"
                                class="fixed top-0 left-0 right-0 z-50 hidden w-full m-6 p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full">
                                <div class="relative w-full max-w-2xl mx-auto max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                        <div
                                            class="flex items-start justify-between p-1 border-b rounded-t dark:border-gray-600">
                                            <button type="button"
                                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                data-modal-hide="default-modal">
                                                <svg class="w-3 h-3" aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2"
                                                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <section class="bg-white dark:bg-gray-800 p-4">
                                            <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                                                <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a
                                                    new product</h2>
                                                <form action="#" method="post">
                                                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                                        <div class="sm:col-span-2">
                                                            <label for="productName"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                                                                Name</label>
                                                            <input type="text" name="productName" id="productName"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="Type product name" required="">
                                                        </div>
                                                        <div class="w-full">
                                                            <label for="productPrice"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                                            <input type="number" name="productPrice" id="productPrice"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="$2999" required="">
                                                        </div>

                                                        <div>
                                                            <label for="productCategory"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                                            <select id="ProductCategory"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select category</option>
                                                                <option value="Road Bikes">Road Bikes</option>
                                                                <option value="Mountain Bikes">Mountain Bikes</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="productSize"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                            <select id="productSize" 
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select size</option>
                                                                <option value="Small">S</option>
                                                                <option value="Medium">M</option>
                                                                <option value="Large">L</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="productQty"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                                            <input type="number" name="productQty" id="productQty"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="12" required="">
                                                        </div>
                                                        

                                                        <!-- <div>
                                                            <label for="productColour"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                            <select id="productColour"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select color</option>
                                                                <option value="Black">Black</option>
                                                                <option value="White">White</option>
                                                                <option value="Red">Red</option>
                                                            </select>
                                                        </div> -->
                                                        <div>
                                                            <label for="discountPrice"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount
                                                                price</label>
                                                            <input type="number" name="discountPrice" id="discountPrice"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="12">
                                                        </div>
                                                        <div class="w-full">
                                                            <label
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                for="frontImage">Upload front image</label>
                                                            <input
                                                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                id="frontImage" name="frontImage" type="file">
                                                        </div>
                                                        <div class="w-full">
                                                            <label
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                for="productImages">Upload images</label>
                                                            <input
                                                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                id="productImages" name="productImages" type="file" multiple>
                                                        </div>
                                                        <!-- <div class="sm:col-span-2">
                                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                        <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                                    </div> -->
                                                    </div>
                                                    <button type="submit"
                                                        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-yellow-400 hover:bg-blue-800 bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                        Add product
                                                    </button>
                                                </form>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!--modal closes -->
                            <%product.forEach((productData)=>{ %>

                                <!--update modal-->
                                <div id="default-modalc" tabindex="1" aria-hidden="true"
                                    class="fixed top-0 left-0 right-0 z-50 hidden w-full m-6 p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full">
                                    <div class="relative w-full max-w-2xl mx-auto max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                            <div
                                                class="flex items-start justify-between p-1 border-b rounded-t dark:border-gray-600">
                                                <button type="button" id="closeBtn"
                                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                    data-modal-hide="default-modalc">
                                                    <svg class="w-3 h-3" aria-hidden="true"
                                                        xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2"
                                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <section class="bg-white dark:bg-gray-800 p-4">
                                                <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                                                    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
                                                        Edit product</h2>
                                                    <form action="#">
                                                        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                                            <div class="sm:col-span-2">
                                                                <label for="editProductName"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                                                                    Name </label>
                                                                <input type="text" name="editProductName" id="editProductName"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="Type product name" required="">
                                                                    <input type="hidden" id="editProductId" name="editProductId">
                                                            </div>
                                                            <div class="w-full">
                                                                <label for="editProductPrice"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                                                <input type="number" name="EditProductPrice"
                                                                    id="editProductPrice"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="$2999" required="">
                                                            </div>

                                                            <div>
                                                                <label for="editProductCategory"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                                                <select id="editProductCategory"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select category
                                                                    </option>
                                                                    <option value="Road Bikes">Road Bikes</option>
                                                                    <option value="Mountain Bikes">Mountain Bikes</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <label for="editProductQty"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                                                <input type="number" name="editProductQty" id="editProductQty"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="12" required="">
                                                            </div>
                                                            <div>
                                                                <label for="editProductSize"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                                <select id="editProductSize"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select size</option>
                                                                    <option value="Small">S</option>
                                                                    <option value="Medium">M</option>
                                                                    <option value="Large">L</option>
                                                                </select>
                                                            </div>
                                                            <!-- <div>
                                                                <label for="editProductColour"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Colour</label>
                                                                <select id="editProductColour"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select colour</option>
                                                                    <option value="Black">Black</option>
                                                                    <option value="White">White</option>
                                                                    <option value="Red">Red</option>
                                                                </select>
                                                            </div> -->
                                                            <div>
                                                                <label for="editPiscountPrice"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount
                                                                    price</label>
                                                                <input type="number" name="editDiscountPrice"
                                                                    id="editDiscountPrice"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="12">
                                                            </div>
                                                            <div class="w-full">
                                                                <label
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                    for="updateFile_input">Upload front image</label>
                                                                <input
                                                                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                    id="frontImageInput" type="file">
                                                            </div>
                                                            <div class="w-full">
                                                                <label
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                    for="updateFile_input">Upload images</label>
                                                                <input
                                                                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                    id="additionalImagesInput" type="file" multiple>
                                                            </div>
                                                            <!-- <div class="sm:col-span-2">
                                      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                      <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                                  </div> -->
                                                        </div>
                                                        <button type="submit" onclick="editProduct(event)"
                                                            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-yellow-400 hover:bg-blue-800 bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                            Confirm
                                                        </button>
                                                    </form>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <!--update modal closes-->
                                <% }) %>
                        </thead>
                        <tbody>
                            <%product.forEach((productData)=>{ %>
                                <tr data-product-id="<%= productData._id %>"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%=productData.product_name %>
                                    </th>

                                    <td class="px-6 py-4">
                                        <%=productData.category_name.category_name %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.variations[0].size.size_name %> %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.variations[0].quantity %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.product_price %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <img src="/uploads/<%= productData.front_image.filename %>" alt="Product Image" class="w-16 h-16 object-cover rounded"> <!--class="w-32 h-32 object-cover rounded">-->
                                    </td>
                                    <td class="flex items-center px-6 py-10 space-x-3">
                                        <a href="#"
                                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline openModalBtn">Edit</a>
                                        <a href="#"
                                            class="font-medium text-red-600 dark:text-red-500 hover:underline removeBtn">Remove</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>

                        <!--delete Modal -->
                        <div id="confirmationModal" class="fixed inset-0 z-10 hidden overflow-y-auto">
                            <div class="flex items-center justify-center min-h-screen p-4">
                                <div class="relative bg-white w-full max-w-md p-6 mx-auto rounded-md">
                                    <div class="absolute top-0 right-0 p-4">
                                        <button id="closeModalBtn" class="text-gray-500 hover:text-gray-700">
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <p class="text-lg font-semibold mb-4">Are you sure you want to remove this item?</p>
                                    <div class="flex justify-end">
                                        <button id="confirmRemoveBtn"
                                            class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">Remove</button>
                                        <button id="cancelRemoveBtn"
                                            class="ml-2 px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </table>
                </div>


            </div>
        </div>
    </body>
            <script src="/javascripts/createModal.js"></script> <!--working of create modal-->
            

            <!--fetch data to the modal of edit-->
            <script>

                const defaultModalc = document.getElementById(`default-modalc`);
                const openModalBtnElements = document.getElementsByClassName('openModalBtn');
                const closeBtn = document.getElementById('closeBtn');
                const modalProductName = document.getElementById('editProductName');
                const modalProductPrice = document.getElementById('editProductPrice');
                const modalProductCategory = document.getElementById('editProductCategory');
                const modalProductQty = document.getElementById('editProductQty');
                const modalProductSize = document.getElementById('editProductSize');
                // const modalProductColour = document.getElementById('editProductColour');
                const modalDiscountPrice = document.getElementById('editDiscountPrice');
                // const modalFileInput = document.getElementById('file_input')
                const modalProductId = document.getElementById('editProductId')

                const openModalBtnc = openModalBtnElements[0];

                for (const openModalBtn of openModalBtnElements) {
                    openModalBtn.addEventListener('click', (event) => {
                        event.preventDefault();
                        const productId = event.target.closest('tr').dataset.productId;
                        console.log(productId)

                        fetch(`/admin/product/${productId}`)
                            .then((response) => response.json())
                            .then((productDetails) => {
                                console.log(productDetails)

                                modalProductName.value = productDetails.product_name;
                                modalProductPrice.value = productDetails.product_price;
                                modalProductCategory.value = productDetails.category_name.category_name;
                                modalProductQty.value = productDetails.variations[0].quantity;
                                modalProductSize.value = productDetails.variations[0].size.size_name;
                                // modalProductColour.value = productDetails.variations[0].color.color_name;
                                modalDiscountPrice.value = productDetails.discount_price;
                                modalProductId.value = productDetails._id;
                                console.log(modalProductName.value);

                                defaultModalc.style.display = 'block';
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    });
                }

                // Close modal when the "Close" button is clicked
                closeBtn.addEventListener('click', () => {
                    defaultModalc.style.display = 'none';
                });

                // Close modal if clicked outside the content
                window.addEventListener('click', (event) => {
                    if (event.target === defaultModalc) {
                        defaultModalc.style.display = 'none';
                    }
                });
            </script>

            <!--update product-->
            <script>
                    async function editProduct(event) {
                    event.preventDefault()
                    const productIdInput = document.getElementById('editProductId');

                    if (productIdInput) {
                        const productId = productIdInput.value;
                        const editProductName = modalProductName.value;
                        const editProductPrice = modalProductPrice.value;
                        const editProductCategory = modalProductCategory.value;
                        const editProductQty = modalProductQty.value;
                        const editProductSize = modalProductSize.value;
                        // const editProductColour = modalProductColour.value;
                        const editDiscountPrice = modalDiscountPrice.value;

                        const formData = new FormData();
                        formData.append('productName', editProductName);
                        formData.append('productPrice', editProductPrice);
                        formData.append('productCategory', editProductCategory);
                        formData.append('productQty', editProductQty);
                        formData.append('productSize', editProductSize);
                        // formData.append('productColour', editProductColour);
                        formData.append('discountPrice', editDiscountPrice);

                        const frontImageInput = document.getElementById('frontImageInput');
                        const frontImageFile = frontImageInput.files[0];

                        if (frontImageFile) {
                            formData.append('frontImage', frontImageFile);
                        }
                        const additionalImagesInput = document.getElementById('additionalImagesInput')
                        const additionalImagesFiles = additionalImagesInput.files;

                        for (let i = 0; i < additionalImagesFiles.length; i++) {
                        formData.append('additionalImages', additionalImagesFiles[i]);
                        }

                    //     console.log('FormData Fields:');
                    
                    // for (const entry of formData.entries()) {
                    //     console.log(entry[0], ':', entry[1]);
                    // }

                        try {
                            const response = await fetch(`/admin/product/${productId}`, {
                                method: 'put',
                                body: formData,
                            })
                            let data  = await response.json()
                            location.reload()
                            
                        } catch (error) {
                            console.log(error)
                        }
                    }
                }


 
                
            </script>

            <script>
                const form = document.querySelector('form')

                form.addEventListener('submit', async (e) => {
                    e.preventDefault()

                    const productName = form.productName.value;
                    const productPrice = form.productPrice.value;
                    const productCategory = form.ProductCategory.value;
                    const productQty = form.productQty.value;
                    const productSize = form.productSize.value;
                    // const productColour = form.productColour.value;
                    const discountPrice = form.discountPrice.value;

                    const frontImageInput = document.getElementById('frontImage');
                    const frontImageFile = frontImageInput.files[0];
                    console.log(frontImageFile)

                    const productImagesInput = document.getElementById('productImages')
                    const productImagesFiles = productImagesInput.files;
                    console.log(productImagesFiles)

                    const formData = new FormData();
                    formData.append('productName', productName);
                    formData.append('productPrice', productPrice);
                    formData.append('productCategory', productCategory);
                    formData.append('productQty', productQty);
                    formData.append('productSize', productSize);
                    // formData.append('productColour', productColour);
                    formData.append('discountPrice', discountPrice);
                    formData.append('frontImage', frontImageFile);

                    for (let i = 0; i < productImagesFiles.length; i++) {
                    formData.append('productImages', productImagesFiles[i]);
                    }
                    console.log('FormData Fields:');
                    
                    for (const entry of formData.entries()) {
                        console.log(entry[0], ':', entry[1]);
                    }

                    try {
                        const res = await fetch('/admin/product/addproduct', {
                            method: 'post',
                            body: formData,
                        })
                        const data = await res.json()
                        location.reload()
                        console.log(data)

                    } catch (err) {
                        console.log(err)
                    }

                })
            </script>

            <!--modal for delelete-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
            const removeButtons = document.querySelectorAll('.removeBtn');
            const confirmationModal = document.getElementById('confirmationModal');
            const closeModalBtn = document.getElementById('closeModalBtn');
            const confirmRemoveBtn = document.getElementById('confirmRemoveBtn');

            let productId = null;

            removeButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    productId = this.closest('tr').dataset.productId;
                    console.log(productId);
                    confirmationModal.classList.remove('hidden');
                });
            });

            closeModalBtn.addEventListener('click', function () {
                confirmationModal.classList.add('hidden');
            });

            confirmRemoveBtn.addEventListener('click', function () {
                fetch(`/admin/product/${productId}`, {
                    method: 'DELETE', 
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Item removed successfully:', data);
                })
                .catch(error => {
                    console.error('Error removing item:', error);
                })
                .finally(() => {
                    confirmationModal.classList.add('hidden');
                });
            });
        });

        </script>

            <%- include('../includes/adminEnd') %>


                <!--dropdown menu-->