<%-include('../includes/adminStart') %>

   <!--Navbar closes here-->

   <body class="bg-gray-100 dark:bg-gray-900 font-sans">

      <%-include('../includes/components/adminAside') %>

      <div class="p-4 sm:ml-64">
         <%-include('../includes/components/adminNav') %>
         <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

               <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                     <tr>
                        <th scope="col" class="p-4">
                           <!-- <div class="flex items-center">
                              <input id="checkbox-all-search" type="checkbox"
                                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                              <label for="checkbox-all-search" class="sr-only">checkbox</label>
                           </div> -->
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Position
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Action
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <%users.forEach((userData)=>{%>
                     <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-4">
                           <!-- <div class="flex items-center">
                              <input id="checkbox-table-search-1" type="checkbox"
                                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                              <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                           </div> -->
                        </td>
                        <th scope="row"
                           class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                           <!-- <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" -->
                              <!-- alt="Jese image"> -->
                           <div class="pl-3">
                              <div class="text-base font-semibold"><%=userData.user_firstName+" "+userData.user_secondName%></div>
                              <div class="font-normal text-gray-500"><%=userData.user_email%></div>
                           </div>
                        </th>
                        <td class="px-6 py-4">
                           user
                        </td>
                        <td class="px-6 py-4">
                           <div class="flex items-center">
                              <div class="activeBtn h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Active
                           </div>
                        </td>
                        <td class="px-6 py-4">
                           <a id="kk" href="javascript:void(0);" class="font-medium text-red-600 dark:text-red-500 hover:underline" onclick="performPostRequest(this, '<%= userData._id %>')">
                              <% if (userData.user_access==false) { %>
                                 Unblock
                             <% } else { %>
                                 Block
                             <% } %>
                           </a>
                       </td>
                     </tr>
                     <%})%>
                  </tbody>
               </table>
            </div>

         </div>
      </div>


   </body>
   <%- include('../includes/adminEnd') %>
   <script>
      function performPostRequest(link, id) {
          fetch('/admin/users/block/' + id, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({}),
          })
          .then(response => {
              // Handle the response as needed
              link.innerText = link.innerText === "Block" ? "Unblock" : "Block";
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
      </script>
      
<!-- <script>
   console.log(users)
</script> -->
      <!--dropdown menu-->