<%-include('../includes/userStart')  %>
<style>
  #mobile-menu-2 {
    display: none;
  }
  #searchForm {
    display: none;
  }
</style>

<header class="relative bg-cover bg-center text-white flex flex-col justify-center items-center" id="slideshow">
  <!--Nav bar here-->
  <%-include('../includes/userHomeNav')  %>
  <!--nav bar closes here-->

</header>


<!-- component -->
<!-- Create By Joker Banny -->


<body class="bg-gray-100 dark:bg-slate-700 dark:text-white">
  <p class="hidden" id="userId"><%=user._id%></p>
  <div class="container mx-auto mt-28 p-4">
    <div class="flex flex-col-reverse md:flex-row shadow-md my-10">
      <div class="md:w-3/4 bg-white px-4 md:px-10 py-10 dark:bg-slate-600">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl dark:text-white">Shopping Cart</h1>
          <h2 class="font-semibold text-2xl dark:text-white">
            <%=cart.items.length %> Items
          </h2>
        </div>
        <div class="flex flex-col mt-10 mb-5 dark:text-white">
          <% if (cart && cart.items && cart.items.length> 0) { %>

            <!--mobile view-->
            <% cart.items.forEach(item=> { %>
                <div class="sm:hidden card flex flex-col justify-center p-10 bg-white">
                  <div class="prod-img">
                    <img src="/uploads/<%=item.product.front_image.filename  %>"
                         class="w-full object-cover object-center" />
                  </div>
                  <div class="prod-info grid gap-5">
                    <div class="prod-title">
                      <span class="text-2xl uppercase"><%=item.product.product_name %></span>
                      <p class="uppercase text-sm text-gray-400">
                        The best shoes in the marketplace
                      </p>
                    </div>
                    <a href="#" onclick="removeProduct('<%=item.product._id  %>','<%=user._id  %>')"
                      class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                    <div class="flex justify-start items-start flex-col space-y-2">
                      <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-500 text-gray-400">Category: </span><%=item.product.category_name.category_name %></p>
                      <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-500 text-gray-400">Size: </span><%=item.product.variations[0].size.size_name %></p>
                      <!-- <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-400 text-gray-300">Color: </span> Light Blue</p> --> 
                  </div>
                  <span class="text-center w-1/5 font-semibold text-sm">$<%=item.product.product_price %></span>
                  <div class=" flex justify-between im sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                    <div class="flex items-center border-gray-100">
                      <span onclick="updateQuantity('<%= item._id %>', 'decrement')" class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50"> - </span>
                      <input id="quantityInput_<%= item._id %>" class="mx-2 border text-center w-8 text-black" type="text"
                      value="<%=item.quantity%>">
                      <span onclick="updateQuantity('<%= item._id %>', 'increment')" class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50"> + </span>
                    </div>
                    
                  <span class="text-center w-1/5 font-bold text-2xl">$<%=item.product.product_price*item.quantity %></span>
                  </div>
                  
                  </div>
                </div>       
            <% }); %>
            <!--mobile view closes here--> 

            <div class="hidden sm:flex items-center justify-between text-xs uppercase">
              <h3 class="font-semibold text-gray-600 w-2/5">Product Details</h3>
              <h3 class="font-semibold text-center w-1/5">Quantity</h3>
              <h3 class="font-semibold text-center w-1/5">size</h3>
              <h3 class="font-semibold text-center w-1/5">Price</h3>
              <h3 class="font-semibold text-center w-1/5">Total</h3>
            </div>
            <!-- Your cart items here -->

            <% cart.items.forEach(item=> { %>
              <div class="hidden sm:flex mt-2 items-center hover:bg-gray-100 -mx-8 px-6 py-5 dark:bg-slate-600">

                <div class="flex w-2/5"> <!-- product -->
                  <div class="w-32 ">
                    <img class="h-24 w-full object-cover" src="/uploads/<%=item.product.front_image.filename  %>"
                      alt="">
                  </div>
                  <div class="flex flex-col justify-between ml-4 flex-grow">
                    <span class="font-bold text-sm">
                      <%=item.product.product_name %>
                    </span>
                    <span class="text-red-500 text-xs">
                      <%=item.product.category_name.category_name %>
                    </span>
                    <a href="#" onclick="removeProduct('<%=item.product._id  %>','<%=user._id  %>')"
                      class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                  </div>
                </div>
                
                <div class="flex justify-center w-1/5">
                  <svg onclick="updateQuantity('<%= item._id %>', 'decrement')"
                    class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512">
                    <path
                      d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                  </svg>

                  <input id="quantityInput_<%= item._id %>" class="mx-2 border text-center w-8" type="text"
                    value="<%=item.quantity%>">

                  <svg onclick="updateQuantity('<%= item._id %>', 'increment')"
                    class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512">
                    <path
                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                  </svg>
                </div>
                <span class="text-center w-1/5 font-semibold text-sm">
                  <%=item.product.variations[0].size.size_name %>
                </span>
                <span class="text-center w-1/5 font-semibold text-sm">$<%=item.product.product_price %></span>
                <span class="text-center w-1/5 font-semibold text-sm">$<%=item.product.product_price*item.quantity %>
                    </span>
              </div>
              <% }); %>
                <!--cart item ends here-->
                <% } else { %>
                  <div class="flex justify-center">

                    <img src="/images/empty_cart.gif" class="h-full w-96" alt="">
                  </div>

                  <% } %>
        </div>
        <a href="/brepublic/landing" class="flex font-semibold text-indigo-600 dark:text-white text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 dark:text-white w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
        <% if(cart.items.length == 0){ %>
          <a href="#">
            <button id="checkoutButton"
              class=" mt-4 sm:hidden bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
          </a>
          <% }else{ %>
            <a href="/brepublic/Checkout?userId=<%=user._id  %>">
              <button id="checkoutButton"
                class="mt-4 sm:hidden bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
            </a>
            <% } %>
      </div>
      

      <div id="summary" class="md:w-1/4 px-4 md:px-8 py-10 dark:bg-slate-700">
        <!-- Your order summary here -->
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
          <span class="font-semibold text-sm uppercase">Items <%=cart.items.length %></span>
          <span class="font-semibold text-sm">
            <%=cart.totalPrice %>$
          </span>
        </div>
        <!-- <div>
          <label class="font-medium inline-block mb-3 text-sm uppercase">Promo code</label>
          <select class="block p-2 text-gray-600 w-full text-sm" name="couponCode">
            <% coupons.forEach(coupon => { %>
              <option value="<%= coupon.code %>"><%= coupon.code %> - <%= coupon.discount %> % off</option>
            <% }); %>
            <option>No coupon</option>
          </select>
        </div> -->
        <div class="py-5">
          <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
          <select id="couponSelect" class="block p-2 text-gray-600 w-full text-sm" name="couponCode">
            <option disabled selected="">Select coupon</option>
            <% coupons.forEach(coupon=> { %>
              <option value="<%= coupon._id %>">
                <%= coupon.code %> - <%= coupon.discount %>% off
              </option>

              <% }); %>

          </select>
        </div>
        <button id="applyCoupon"
          class="bg-green-500 hover:bg-green-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
        <button id="clearCoupon"
          class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Clear</button>

        <div class="border-t mt-8">
          <div class="flex font-normal justify-between py-4 text-sm uppercase">
            <span>Shipping charge</span>
            <span>$10</span>
          </div>
          <div class="flex font-normal text-red-600 justify-between py-1 text-sm">
            <span>Coupon discount</span>
            <% if(cart.coupon){ %>
              <span id="couponDiscount">$<%= (cart.totalPrice * (cart.coupon.discount / 100)).toFixed() %></span>
              <% }else{ %>
                <span id="couponDiscount">$0</span>
                <% } %>
          </div>
          <div class="flex font-semibold justify-between py-6 text-sm uppercase">
            <span>Total cost</span>
            <span id="cartTotal" data-total="<%= cart.totalPrice %>">
              <% const subtotal=cart.totalPrice || 0; const discountPercentage=cart.coupon ? cart.coupon.discount || 0 :
                0; const discountAmount=(subtotal * discountPercentage) / 100; const shippingCost=10; const
                total=subtotal - discountAmount + shippingCost; %>$<%=total.toFixed() %>
            </span>
          </div>
          <!-- <a href="/brepublic/Checkout?userId=<%=user._id  %>">
            <button id="checkoutButton"
              class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
          </a> -->
          <% if(cart.items.length == 0){ %>
            <a href="#">
              <button id="checkoutButton"
                class="hidden sm:block bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
            </a>
            <% }else{ %>
              <a href="/brepublic/Checkout?userId=<%=user._id  %>">
                <button id="checkoutButton"
                  class="hidden sm:block bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
              </a>
              <% } %>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>



  <%-include('../includes/components/userFooter')  %>
    <%-include('../includes/userEnd')  %>
    <script>
      async function updateQuantity(itemId, action) {
        const inputId = `quantityInput_${itemId}`;
        const currentQuantityElement = document.getElementById(inputId);

        if (!currentQuantityElement) {
          console.error(`Element with id ${inputId} not found.`);
          return;
        }

        const currentQuantity = parseInt(currentQuantityElement.value, 10);

        // Add a client-side check to prevent setting quantity to 0
        if (action === 'decrement' && currentQuantity <= 1) {
          // Show a message or handle the case where the quantity is already at the minimum
          console.log('Quantity cannot be less than 1.');
          return;
        }
        try {
          const response = await fetch(`/brepublic/${action}/${itemId}`, {
            method: 'put',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          const updatedCart = await response.json();

          // Handle the updated cart data as needed
          console.log(updatedCart);
          window.location.reload();
        } catch (error) {
          console.error('Error updating quantity:', error);
        }
      }
    </script>
    <script>
      //remove from cart
      async function removeProduct(productId, userId) {
        try {
          const res = await fetch(`/brepublic/removefromcart?userId=${userId}&productId=${productId}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              productId: productId,
              userId: userId,
            }),
          });
      
          const data = await res.json();
      
          if (res.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Product Removed!',
              text: data.message,
            }).then(() => {
              window.location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: data.error || 'Something went wrong!',
              postion:top-end
            });
          }
      
          console.log(data.message);
        } catch (error) {
          console.error('Error removing product:', error);
        }
      }
      </script>

      <script>
        var quantityInput = document.querySelector(".quantity-input");
        var minusButtons = document.querySelectorAll(".minus");
        var plusButtons = document.querySelectorAll(".plus");

        minusButtons.forEach(function (minus) {
          minus.addEventListener("click", function () {
            // Get the current value and decrement it (if it's greater than 1)
            let currentValue = parseInt(quantityInput.value, 10);
            if (currentValue > 1) {
              quantityInput.value = currentValue - 1;
            }
          });
        });

        // Add click event listener to all plus SVGs
        plusButtons.forEach(function (plus) {
          plus.addEventListener("click", function () {
            // Get the current value and increment it
            let currentValue = parseInt(quantityInput.value, 10);
            quantityInput.value = currentValue + 1;
          });
        });
      </script>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const userId = document.getElementById('userId').innerText
          const applyCouponButton = document.getElementById('applyCoupon')
          const clearCouponButton = document.getElementById('clearCoupon')
          const couponSelect = document.getElementById('couponSelect');
          const cartTotalElement = document.getElementById('cartTotal');
          const couponDiscountElement = document.getElementById('couponDiscount');

          // let selectedCouponId = null;

          applyCouponButton.addEventListener('click', async function () {
            const selectedCouponIndex = couponSelect.selectedIndex;
            const selectedCouponId = couponSelect.options[selectedCouponIndex].value;
            console.log("hell", selectedCouponId)
            const originalTotalPriceElement = document.getElementById('cartTotal');
            const originalTotalPrice = parseFloat(originalTotalPriceElement.getAttribute('data-total'));
            const originalCouponDiscount = parseFloat(document.getElementById('couponDiscount').textContent);

            if (selectedCouponId !== "Select coupon") {
              try {
                const response = await fetch(`/brepublic/getcoupon?value=${selectedCouponId}`);
                console.log(response);

                if (!response.ok) {
                  console.log("error");
                } else {
                  const coupon = await response.json();
                  const discountPercentage = coupon.discount;

                  const shippingCharge = 10;
                  const discountAmount = (originalTotalPrice * discountPercentage) / 100;

                  couponDiscountElement.textContent = `$${discountAmount.toFixed()}`;
                  console.log(discountAmount);

                  const updatedTotalPrice = originalTotalPrice - discountAmount + shippingCharge;
                  originalTotalPriceElement.textContent = `$${updatedTotalPrice.toFixed()}`;

                  await saveCouponToCart(selectedCouponId,userId);
                }
              } catch (error) {
                console.error(error);
              }
            } else {
              const shippingCharge = 10
              const couponDiscountElement = document.getElementById('couponDiscount');
              couponDiscountElement.textContent = `$${0}`;

              originalTotalPriceElement.textContent = `$${originalTotalPrice + shippingCharge}`
              console.log("selected coupon is 'Select coupon'");
              await removeCouponFromCart(userId);
            }
          })

          clearCouponButton.addEventListener('click', async function () {
            const shippingCharge = 10
            couponSelect.value = "Select coupon"
            const originalTotal = parseFloat(cartTotalElement.getAttribute("data-total"));
            cartTotalElement.textContent = `$${originalTotal + shippingCharge}`;
            couponDiscountElement.textContent = `$${0}`;
            await removeCouponFromCart(userId);
          })

          async function saveCouponToCart(couponId,userId) {
            const response = await fetch(`/brepublic/savecoupon?couponId=${couponId}&userId=${userId}`, { method: 'POST' });

            if (!response.ok) {
              console.log("Error saving coupon to cart");
            }
          }

          async function removeCouponFromCart(userId) {
            console.log("yo",userId)
            const response = await fetch(`/brepublic/removecoupon?userId=${userId}`, { method: 'DELETE' });

            if (!response.ok) {
              console.log("Error removing coupon from cart");
            }
          }

        })
      </script>




      
      
  