<%-include('../includes/userStart')  %>

<header class="relative bg-cover bg-center text-white flex flex-col justify-center items-center" id="slideshow">
  <!--Nav bar here-->
  <%-include('../includes/userHomeNav')  %>
  <!--nav bar closes here-->

</header>



<div class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto dark:bg-gray-700">
    <% if (cart.length === 0) { %>
        <p class="mt-72">No orders found for this user.</p>
    <% } else { %>
    <div class="flex justify-start mt-20 item-start space-y-2 flex-col">
        <h1 class="text-3xl dark:text-gray-600 lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800"><%=cart.items.length  %> Items</h1>
        <p class="text-base dark:text-gray-600 font-medium leading-6 text-gray-600">21st Mart 2021 at 10:34 PM</p>
    </div> 

    <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
        <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
            <div class="flex flex-col justify-start items-start dark:bg-gray-800 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
                <p class="text-lg md:text-xl dark:text-white font-semibold leading-6 xl:leading-5 text-gray-800">Customer’s Cart</p>
                <% cart.items.forEach(items=>{ %>
                <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
                    <div class="pb-4 md:pb-8 w-full md:w-40">
                        <img class="w-full hidden md:block" src="/uploads/<%=items.product.front_image.filename  %>" alt="dress" />
                        <img class="w-full md:hidden" src="/uploads/<%=items.product.front_image.filename  %>" alt="dress" />
                    </div>
                    <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                        <div class="w-full flex flex-col justify-start items-start space-y-8">
                            <h3 class="text-xl dark:text-white xl:text-2xl font-semibold leading-6 text-gray-800"><%=items.product.product_name  %></h3>
                            <div class="flex justify-start items-start flex-col space-y-2">
                                <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-500 text-gray-400">Category: </span> <%=items.product.category_name.category_name  %></p>
                                <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-500 text-gray-400">Size: </span> <%=items.product.variations[0].size.size_name %></p>
                                <!-- <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-400 text-gray-300">Color: </span> Light Blue</p> -->
                            </div>
                        </div>
                        <div class="flex justify-between space-x-8 items-start w-full">
                            <p class="text-base dark:text-white xl:text-lg leading-6"><%=items.product.product_price %><span class="text-red-500 line-through"> $9500.00</span></p>
                            <p class="text-base dark:text-white xl:text-lg leading-6 text-gray-800"><%=items.quantity%></p>
                            <p class="text-base dark:text-white xl:text-lg font-semibold leading-6 text-gray-800"><%=items.product.product_price*items.quantity%></p>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <div class="flex justify-center md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
                <div class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Shipping</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input checked id="bordered-radio-1" type="radio" value="COD" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">                   <div class="flex justify-between items-start w-full">
                            <div class="flex ml-4 justify-center items-center space-x-4">
                                <!-- <div class="w-8 h-8">
                                    <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" />
                                </div> -->
                                <div class="flex flex-col justify-start items-center mr-28">
                                    <p class="text-lg leading-6 dark:text-white font-semibold text-gray-800" value="COD" >Cash on Delivery<br /><span class="font-normal">Delivery with 24 Hours</span></p>
                                </div>
                                <i class="fa-solid fa-sack-dollar fa-2xl"></i>
                            </div>
                            <!-- <button class="text-lg font-semibold leading-6 dark:text-white text-gray-800">Select</button> -->
                        </div></label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input checked id="bordered-radio-2" type="radio" value="Online" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">                   <div class="flex justify-between items-start w-full">
                            <div class="flex ml-4 justify-center items-center space-x-4">
                                <!-- <div class="w-8 h-8">
                                    <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" />
                                </div> -->
                                <div class="flex flex-col justify-start items-center mr-28">
                                    <p class="text-lg leading-6 dark:text-white font-semibold text-gray-800" value="razorpay">Pay online<br /><span class="font-normal">Delivery with 24 Hours</span></p>
                                </div>
                                <i class="fa-solid fa-credit-card fa-2xl"></i>
                            </div>
                            <!-- <button class="text-lg font-semibold leading-6 dark:text-white text-gray-800">Select</button> -->
                        </div></label>
                    </div>
                </div>
                <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Summary</h3>
                    <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                        <div class="flex justify-between w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">Subtotal</p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">$<%=cart.totalPrice %></p>
                        </div>
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">
                                Discount 
                                <% if (cart.coupon) { %>
                                    <span class="bg-gray-200 p-1 text-xs font-medium dark:bg-white dark:text-gray-800 leading-3 text-gray-800">
                                        <%= cart.coupon.discount %>% <!-- Assuming discountPercentage is the property holding the percentage -->
                                    </span>
                                <% } else { %>
                                    <span class="bg-gray-200 p-1 text-xs font-medium dark:bg-white dark:text-gray-800 leading-3 text-gray-800">
                                        0%
                                    </span>
                                <% } %>
                            </p>
                            <% if (cart.coupon) { %>
                                <p id="discountAmount" class="text-base dark:text-gray-300 leading-4 text-gray-600">
                                    $<%= (cart.totalPrice * (cart.coupon.discount / 100)).toFixed() %>
                                </p>
                            <% } else { %>
                                <p id="discountAmount" class="text-base dark:text-gray-300 leading-4 text-gray-600">-$0</p>
                            <% } %>
                        </div>
                        
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">Shipping</p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">$10</p>
                        </div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <p class="text-base dark:text-white font-semibold leading-4 text-gray-800">Total</p>
                        <% 
                            // Assuming cart.totalPrice is the total price without discount
                            // Assuming cart.coupon.discountPercentage is the discount percentage applied
                            // Adjust the properties based on your actual schema
                    
                            const subtotal = cart.totalPrice || 0;
                            const discountPercentage = cart.coupon ? cart.coupon.discount || 0 : 0;
                            const discountAmount = (subtotal * discountPercentage) / 100;
                            const shippingCost = 10; // Assuming a fixed shipping cost of $10, adjust as needed
                            const total = subtotal - discountAmount + shippingCost;
                        %>
                        <p class="text-base dark:text-gray-300 font-semibold leading-4 text-gray-600">
                            $<%= total.toFixed() %> <!-- Display the total with two decimal places -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-slate-100 dark:bg-gray-800 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col">
            <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Customer</h3>
            <div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
                <div class="flex flex-col justify-start items-start flex-shrink-0">
                    <div class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200">
                        <img src="https://i.ibb.co/5TSg7f6/Rectangle-18.png" alt="avatar" />
                        <div class="flex justify-start items-start flex-col space-y-2">
                            <p class="text-base dark:text-white font-semibold leading-4 text-left text-gray-800"><%=user.user_firstName+" "+user.user_secondName  %></p>
                            <!-- <p class="text-sm dark:text-gray-300 leading-5 text-gray-600">10 Previous Orders</p> -->
                        </div>
                    </div>
  
                    <div class="flex justify-center text-gray-800 dark:text-white md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/order-summary-3-svg1.svg" alt="email">
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/order-summary-3-svg1dark.svg" alt="email">
                        <p class="cursor-pointer text-sm leading-5 "><%=user.user_email %></p>
                    </div>
                </div>
                <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
                    <!--addreess checkbox section-->
                    <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
                        <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                            <p class="text-base dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800">Shipping Address</p>
                            <% if(addresses.length === 0){ %>
                                <p>no address</p>
                                <% }else{ %>
                                    <% addresses.forEach((address, index) => { %>
                                <div class="flex items-center mb-2">
                                    <input
                                        type="radio"
                                        id="address<%= index %>"
                                        name="selectedAddress"
                                        value="<%= address._id %>"
                                        <% if (index === 0) { %> checked <% } %>
                                    >
                                    <label for="address<%= index %>" class="ml-2 text-gray-800 dark:text-white">
                                        <%= address.street %>, <%= address.city %>, <%= address.state %>, <%= address.zip %>
                                    </label>
                                </div>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="addressModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                        <div class="modal-overlay fixed inset-0 bg-black opacity-50">
                            
                        </div>
                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                            <div class="flex justify-end pr-4 pt-2">
                                <span id="close" class="modal-close cursor-pointer z-50">
                                    &times;
                                </span>
                            </div>
                            <div class="modal-content py-4 text-left px-6">
                                <!-- Address Form -->
                                <form id="addressForm" class="mt-4">
                                    <!-- Name -->
                                    <div class="mb-4">
                                        <label for="name" class="block text-gray-800 text-sm font-medium" >Full Name</label>
                                        <input type="text" id="name" name="name" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        <input type="text" id="userId" class="hidden" placeholder="<%= user._id %>">
                                    </div>
                                
                                    <div class="mb-4">
                                        <label for="mobile" class="block text-gray-800 text-sm font-medium">Mobile number</label>
                                        <input type="number" id="mobile" name="mobile" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>
                                
                                    <!-- Street Address and State -->
                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="street" class="block text-gray-800 text-sm font-medium">Street Address</label>
                                            <input type="text" id="street" name="street" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        </div>
                                        <div>
                                            <label for="state" class="block text-gray-800 text-sm font-medium">State</label>
                                            <input type="text" id="state" name="state" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        </div>
                                    </div>
                                
                                    <!-- City, Zip Code, and Country -->
                                    <div class="grid grid-cols-2 gap-4 mt-2">
                                        <div>
                                            <label for="city" class="block text-gray-800 text-sm font-medium">City</label>
                                            <input type="text" id="city" name="city" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        </div>
                                        <div>
                                            <label for="zip" class="block text-gray-800 text-sm font-medium">Zip Code</label>
                                            <input type="text" id="zip" name="zip" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        </div>
                                    </div>
                                    <div class="mb-4 mt-2">
                                        <div>
                                            <label for="country" class="block text-gray-800 text-sm font-medium">Country</label>
                                            <select id="country" name="country" class="mt-1 p-2 w-full border border-gray-300 rounded-md">
                                                <!-- Add your country options here -->
                                                <option value="india">India</option>
                                                <!-- Add more options as needed -->
                                            </select>
                                        </div>
                                    </div>
                                
                                    <!-- Submit Button -->
                                    <div class="mt-6">
                                        <button type="submit" class="bg-gray-800 text-white p-3 rounded-md w-full hover:bg-gray-700">Save Address</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Structure closes -->
                    <div class="">
                        <div class="flex w-full justify-center mt-4 items-center md:justify-start md:items-start">
                            <button
                                class="mt-6 md:mt-0 dark:border-white dark:hover:bg-gray-900 dark:bg-transparent dark:text-white py-4 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 font-medium w-96 2xl:w-full text-base leading-4 text-gray-800 open-modal-button">
                                Add address
                            </button>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-end mt-4">
        <button id="placeOrder" type="button" class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
            <i class="mr-4 fa-regular fa-circle-check"></i>
            Proceed with order
            </button>
        </div>
                <!-- HTML modal structure with Tailwind CSS classes -->
        <div id="paymentSuccessModal" class="fixed inset-0 overflow-hidden z-50 hidden items-center justify-center">
            <div class="absolute inset-0 overflow-hidden">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!-- Background overlay -->
                <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
        
                <!-- Modal panel with Tailwind CSS styling -->
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <!-- Modal content -->
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <!-- Tick mark icon -->
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                    <svg class="h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    </div>
        
                    <!-- Success message -->
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Order Placed Successfully
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">
                        Your order has been placed successfully. Thank you for shopping with us!
                        </p>
                    </div>
                    </div>
                </div>
        
                <!-- Close button -->
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button onclick="closeModal()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Close
                    </button>
                </div>
                </div>
            </div>
            </div>
        </div>
    <% } %>
</div>
  <style>
    #mobile-menu-2 {
      display: none;
    }
    #searchForm {
      display: none;
    }
  </style>

  <%-include('../includes/components/userFooter')  %>
<%-include('../includes/userEnd')  %>
<script>
    const modal = document.getElementById('addressModal');
    const btn = document.querySelector('.open-modal-button');
    const span = document.querySelector('.modal-close');

    const userId = document.getElementById('userId').getAttribute('placeholder');
    
    const form = document.querySelector('form')

    btn.onclick = async function () {
        modal.classList.remove('hidden');
    };

    span.onclick = async function () {
        modal.classList.add('hidden');
    };

    window.onclick = async function (event) {
        if (event.target === modal) {
            modal.classList.add('hidden');
        }
    };

    //post address in to the database
    document.addEventListener('submit',async function(event){
        event.preventDefault()

        const addressForm = document.getElementById('addressForm');
        const formData = new FormData(addressForm)
        for (const pair of formData.entries()) {
        console.log(pair[0] + ': ' + pair[1]);
        }
        try {
             const response = await fetch('/brepublic/addAddress',{
                method:'post',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({
                    userId: userId,
                    name: formData.get('name'),
                    mobile: formData.get('mobile'),
                    street: formData.get('street'),
                    state:formData.get('state'),
                    city: formData.get('city'),
                    zip: formData.get('zip'),
                    country: formData.get('country'),
                }),
             })
             if(response.ok){
                const savedAddress = await response.json()
                location.assign(`/brepublic/Checkout?userId=${userId}`)
             }else{
                console.error('Error saving address:', response.statusText);
             }
        } catch (error) {
            console.error('Error during form submission:', error);
        }
    })
</script>

<script>
    //place order
    document.getElementById('placeOrder').addEventListener('click',async ()=>{
        const userId = document.getElementById('userId').getAttribute('placeholder');
        const selectedAddressId = document.querySelector('input[name="selectedAddress"]:checked').value;
        const selectedPaymentMethod = document.querySelector('input[name="bordered-radio"]:checked').value;
        const couponAmount = document.getElementById('discountAmount').textContent
        const numericPart = couponAmount.replace(/[^\d.-]/g, '');
        let couponDiscount = Number(numericPart.split())
        console.log(numericPart)
        try {
            console.log(userId)
            console.log(selectedAddressId)
            console.log("pay",selectedPaymentMethod)
            if(!userId || !selectedAddressId || !selectedPaymentMethod){
                alert("user id or selected address or pament method is missing")
            }
            
            const response = await fetch('/brepublic/placeorder',{
                method:'post',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    userId,
                    selectedAddressId,
                    selectedPaymentMethod,
                    couponDiscount,
                })
            })
            if(response.ok){
                const orderData = await response.json();
                console.log(orderData);
                if(orderData == 'cod'){
                    console.log('cod success');
                    openSuccessModal()
                }else{
                    console.log('razorpay success')
                    razorpay(orderData)
                    // openSuccessModal()
                }
                
                console.log('order created successfully')
                
                
            }else{
                console.error('Failed to create order',response.statusText)
            }
        } catch (error) {
            console.error(error)
        }
    })
    function openSuccessModal() {
        const modal = document.getElementById("paymentSuccessModal");
        modal.style.display = "block";
    }
</script>

<script>
    // Function to open the modal
    function openModal() {
      var modal = document.getElementById("paymentSuccessModal");
      modal.style.display = "block";
    }
    
    // Function to close the modal
    function closeModal() {
      var modal = document.getElementById("paymentSuccessModal");
      modal.style.display = "none";
      location.reload()
    }
    </script>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function razorpay(response){
        console.log('ftgdftc',response.razorpayOrder.amount_due);
        var options = {
        "key": "rzp_test_aMClPt2TIB5qVt", // Enter the Key ID generated from the Dashboard
        "amount": response.razorpayOrder.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "BicycleRepublic",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
        "handler": function (response){
        location.reload()
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
      rzp1.open();
    }
   
    </script>