<%-include('../includes/userStart') %>
<style>
    figure.zoom {
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
</style>

    <body class="dark:bg-gray-800 bg-gray-100">
        <header>
            <%-include('../includes/userHomeNav') %>
        </header>
        <% if(product){ %>

            <section class="mt-24 ">
                <div class="bg-gray-100 dark:bg-gray-800 py-8 m-4">
                    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                        <div class="flex flex-col md:flex-row -mx-6">
                            <div class="md:flex-1 px-12">
                                <figure class="mb-4 zoom" id="zoom-container" onmousemove="zoom(event)" style="background-image: url('/uploads/<%=product.front_image.filename %>')">
                                    <img class="w-full h-full object-cover cursor-pointer"
                                        src="/uploads/<%=product.front_image.filename %>" alt="Product Image"
                                        id="zoom-image">
                                </figure>     
                                <ol class="flex -mx-2 mb-4">
                                    <li class="w-1/2 h-1/2 px-2">
                                        <img class="w-full h-full object-cover cursor-pointer rounded-lg"
                                            src="/uploads/<%=product.front_image.filename %>" alt="Product Image"
                                            onclick="changeZoomImage(this)">
                                    </li>
                                    <li class="w-1/2 h-1/2 px-2">
                                        <img class="w-full h-full object-cover cursor-pointer rounded-lg"
                                            src="/uploads/<%=product.product_images[0].filename %>" alt="Product Image"
                                            onclick="changeZoomImage(this)">
                                    </li>
                                    <li class="w-1/2 h-1/2 px-2">
                                        <img class="w-full h-full object-cover cursor-pointer rounded-lg" 
                                            src="/uploads/<%=product.product_images[1].filename %>" alt="Product Image"
                                            onclick="changeZoomImage(this)">
                                    </li>
                                    <li class="w-1/2 h-1/2 px-2">
                                        <img class="w-full h-full object-cover cursor-pointer rounded-lg"
                                            src="/uploads/<%=product.product_images[2].filename %>" alt="Product Image"
                                            onclick="changeZoomImage(this)">
                                    </li>

                                </ol>

                            </div>
                            <div class="md:flex-1 px-4">
                                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-1">
                                    <%=product.product_name %>
                                </h2>
                                <h4 class="text-1xl font-semibold text-gray-400 dark:text-white mb-2">
                                    <%=product.category_name.category_name %>
                                </h4>
                                <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                                    ante justo. Integer euismod libero id mauris malesuada tincidunt.
                                </p>
                                <div class="flex mb-4">
                                    <div class="mr-4">
                                        <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                                        <span class="text-gray-600 dark:text-gray-300">$<%=product.product_price %>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="font-bold text-gray-700 dark:text-gray-300">Availability:
                                            <%=product.variations[0].size.size_name %>
                                        </span>
                                        <span class="text-gray-600 dark:text-gray-300">In Stock</span>
                                    </div>
                                </div>
                                <!-- <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Select Color:</span>
                    <div class="flex items-center mt-2">
                        <button class="w-6 h-6 rounded-full bg-gray-800 dark:bg-gray-900 mr-2" onclick="selectColor('black','product._id%>')"></button>
                        <button class="w-6 h-6 rounded-full bg-red-500 dark:bg-red-700 mr-2" onclick="selectColor('red','product._id%>')"></button>
                        <button class="w-6 h-6 rounded-full bg-white dark:bg-white mr-2" onclick="selectColor('white','product._id%>')"></button>
                    </div>
                </div> -->
                                <div class="mb-4">
                                    <span id="sizeErr" class="font-bold text-gray-700 dark:text-gray-300">Select Size:</span>
                                    <div class="flex items-center mt-2">
                                        <button
                                            class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600 focus:bg-gray-500"
                                            onclick="selectSize('Small','<%=product._id%>')">S</button>
                                        <button
                                            class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600 focus:bg-gray-500"
                                            onclick="selectSize('Medium','<%=product._id%>')">M</button>
                                        <button
                                            class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600 focus:bg-gray-500"
                                            onclick="selectSize('Large','<%=product._id%>')">L</button>
                                    </div>
                                </div>
                                <div>
                                    <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                        sed ante justo. Integer euismod libero id mauris malesuada tincidunt. Vivamus
                                        commodo nulla ut
                                        lorem rhoncus aliquet. Duis dapibus augue vel ipsum pretium, et venenatis sem
                                        blandit. Quisque
                                        ut erat vitae nisi ultrices placerat non eget velit. Integer ornare mi sed ipsum
                                        lacinia, non
                                        sagittis mauris blandit. Morbi fermentum libero vel nisl suscipit, nec tincidunt
                                        mi consectetur.
                                    </p>
                                </div>
                                <div class="flex mx-2 mb-4 mt-10">
                                    <div class="w-1/2 px-2">
                                        <button <% if(user){ %>
                                            onclick="addToCart('<%=product._id%>','<%=user._id%>')"
                                                    <% } %>
                                                        class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4
                                                        rounded-full font-bold hover:bg-gray-800
                                                        dark:hover:bg-gray-700">Add to Cart</button>
                                    </div>
                                    <div class="w-1/2 px-2">
                                        <button <% if(user){ %>
                                            onclick="addToWishlist('<%=product._id%>','<%=user._id%>')"
                                                    <% } %>
                                                        class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800
                                                        dark:text-white py-2 px-4 rounded-full font-bold
                                                        hover:bg-gray-300 dark:hover:bg-gray-600">Add to
                                                        Wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% } %>



                <!-- <%-include('../includes/components/userFooter')  %> -->
                <%-include('../includes/userEnd') %><!--add to cart added-->

                    <script>
                        async function selectSize(size, productId) {
                            try {
                                let res = await fetch(`/brepublic/product/${productId}?size=${size}`);
                                console.log("response1", res);
                                if (!res.ok) {
                                    console.error(`Error: ${res.status} - ${res.statusText}`);
                                    const responseBody = await res.json();

                                    document.getElementById('sizeErr').textContent = responseBody.message
                                    document.getElementById('sizeErr').style.color = 'red'
                                    return;
                                }

                                let data = await res.json();
                                console.log("Response Body:", data.otherProduct.message);

                                
                                if (data.otherProduct && data.otherProduct._id) {
                                    const otherProductId = data.otherProduct._id;
                                    location.assign(`/brepublic/product/${otherProductId}`);
                                } else {
                                    console.log('Other product or its ID not available');
                                }
                                console.log(data.product)
                                if(data.product && data.product.variations[0].quantity){
                                    console.log("ooooooooooooo")
                                }
                            } catch (error) {
                                console.log(error);
                            }
                        }
                    </script>
                    <!--Select image-->
                    <script>
                        function changeZoomImage(clickedImage) {
                            let newImageSrc = clickedImage.src;

                            document.getElementById('zoom-image').src = newImageSrc;
                            document.getElementById('zoom-container').style.backgroundImage = 'url(' + newImageSrc + ')';
                        }
                    </script>
                    <!--Zoom image-->
                    <script>
                        function zoom(e){
                      var zoomer = e.currentTarget;
                      e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
                      e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
                      x = offsetX/zoomer.offsetWidth*100
                      y = offsetY/zoomer.offsetHeight*100
                      zoomer.style.backgroundPosition = x + '% ' + y + '%';
                    }
                    </script>