<%-include('../includes/userStart')  %>
<header>
    <%-include('../includes/userHomeNav')  %>
  </header>

<body>
    <% if(user){ %>
    <div class="h-full bg-gray-50 p-4">
        <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4 mt-16">
            <div class="w-full flex flex-col 2xl:w-1/3">
                <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                    <div class="flex justify-between">
                        <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
                         <h4>
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline open-personalInfomodal-button">Edit</a>
                        </h4>
                    </div>
                    
                    <ul class="mt-2 text-gray-700">
                        <li class="flex border-y py-2">
                            <span class="font-bold w-24">Full name:</span>
                            <span class="text-gray-700"><%=`${user.user_firstName} ${user.user_secondName}`  %></span>
                        </li>
                        <!-- <li class="flex border-b py-2">
                            <span class="font-bold w-24">Joined:</span>
                            <span class="text-gray-700">10 Jan 2022 (25 days ago)</span>
                        </li> -->
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Mobile:</span>
                            <span class="text-gray-700"><%=user.user_mobile  %></span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Email:</span>
                            <span class="text-gray-700"><%=user.user_email %></span>
                        </li>
                        <!-- <li class="flex border-b py-2">
                            <span class="font-bold w-24">Location:</span>
                            <span class="text-gray-700">New York, US</span>
                        </li> -->
                        <!-- <li class="flex border-b py-2">
                            <span class="font-bold w-24">Languages:</span>
                            <span class="text-gray-700">English, Spanish</span>
                        </li> -->
                        <li class="flex items-center border-b py-2 space-x-2">
                            <span class="font-bold w-24">Elsewhere:</span>
                            <a href="#" title="Facebook">
                                <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 506.86 506.86"><defs><style>.cls-1{fill:#1877f2;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M506.86,253.43C506.86,113.46,393.39,0,253.43,0S0,113.46,0,253.43C0,379.92,92.68,484.77,213.83,503.78V326.69H149.48V253.43h64.35V197.6c0-63.52,37.84-98.6,95.72-98.6,27.73,0,56.73,5,56.73,5v62.36H334.33c-31.49,0-41.3,19.54-41.3,39.58v47.54h70.28l-11.23,73.26H293V503.78C414.18,484.77,506.86,379.92,506.86,253.43Z"></path><path class="cls-2" d="M352.08,326.69l11.23-73.26H293V205.89c0-20,9.81-39.58,41.3-39.58h31.95V104s-29-5-56.73-5c-57.88,0-95.72,35.08-95.72,98.6v55.83H149.48v73.26h64.35V503.78a256.11,256.11,0,0,0,79.2,0V326.69Z"></path></svg>
                            </a>
                            <a href="#" title="Twitter">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm90493 110539c-6654 2976-13822 4953-21307 5835 7669-4593 13533-11870 16333-20535-7168 4239-15133 7348-23574 9011-6787-7211-16426-11694-27105-11694-20504 0-37104 16610-37104 37101 0 2893 320 5722 949 8450-30852-1564-58204-16333-76513-38806-3285 5666-5022 12109-5022 18661v4c0 12866 6532 24246 16500 30882-6083-180-11804-1876-16828-4626v464c0 17993 12789 33007 29783 36400-3113 845-6400 1313-9786 1313-2398 0-4709-247-7007-665 4746 14736 18448 25478 34673 25791-12722 9967-28700 15902-46120 15902-3006 0-5935-184-8860-534 16466 10565 35972 16684 56928 16684 68271 0 105636-56577 105636-105632 0-1630-36-3209-104-4806 7251-5187 13538-11733 18514-19185l17-17-3 2z" fill="#1da1f2"></path></svg>
                            </a>
                            <a href="#" title="LinkedIn">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm-18220 138885h28897v14814l418 1c4024-7220 13865-14814 28538-14814 30514-1 36157 18989 36157 43691v50320l-30136 1v-44607c0-10634-221-24322-15670-24322-15691 0-18096 11575-18096 23548v45382h-30109v-94013zm-20892-26114c0 8650-7020 15670-15670 15670s-15672-7020-15672-15670 7022-15670 15672-15670 15670 7020 15670 15670zm-31342 26114h31342v94013H96213v-94013z" fill="#0077b5"></path></svg>
                            </a>
                            <a href="#" title="Github">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="0" height="0" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M319.988 7.973C143.293 7.973 0 151.242 0 327.96c0 141.392 91.678 261.298 218.826 303.63 16.004 2.964 21.886-6.957 21.886-15.414 0-7.63-.319-32.835-.449-59.552-89.032 19.359-107.8-37.772-107.8-37.772-14.552-36.993-35.529-46.831-35.529-46.831-29.032-19.879 2.209-19.442 2.209-19.442 32.126 2.245 49.04 32.954 49.04 32.954 28.56 48.922 74.883 34.76 93.131 26.598 2.882-20.681 11.15-34.807 20.315-42.803-71.08-8.067-145.797-35.516-145.797-158.14 0-34.926 12.52-63.485 32.965-85.88-3.33-8.078-14.291-40.606 3.083-84.674 0 0 26.87-8.61 88.029 32.8 25.512-7.075 52.878-10.642 80.056-10.76 27.2.118 54.614 3.673 80.162 10.76 61.076-41.386 87.922-32.8 87.922-32.8 17.398 44.08 6.485 76.631 3.154 84.675 20.516 22.394 32.93 50.953 32.93 85.879 0 122.907-74.883 149.93-146.117 157.856 11.481 9.921 21.733 29.398 21.733 59.233 0 42.792-.366 77.28-.366 87.804 0 8.516 5.764 18.473 21.992 15.354 127.076-42.354 218.637-162.274 218.637-303.582 0-176.695-143.269-319.988-320-319.988l-.023.107z"></path></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="flex justify-end mt-10">LogOut
                        <a href="/brepublic/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                          </svg>
                        </a>
                    </div>
                    
                      
                </div>
                
                <!-- Modal Structure -->
                <div id="editPersonalInfoModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                    <div class="modal-overlay fixed inset-0 bg-black opacity-50">
                        
                    </div>
                    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                        <div class="flex justify-end pr-4 pt-2">
                            <span id="close" class="modal-closePersonalInfo cursor-pointer z-50">
                                &times;
                            </span>
                        </div>
                        <div class="modal-content py-4 text-left px-6">
                            <!-- Address Form -->
                            <form id="userUpdateForm" class="mt-4">
                                <!-- Name -->

                                    <div class="mb-4">
                                        <label for="firstName" class="block text-gray-800 text-sm font-medium">First Name</label>
                                        <input type="text" id="firstName" name="firstName" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                        <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
                                    </div>
                                    <div class="mb-4">
                                        <label for="secondName" class="block text-gray-800 text-sm font-medium">Second Name</label>
                                        <input type="text" id="secondName" name="secondName" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>

                            
                                <div class="mb-4">
                                    <label for="mobile" class="block text-gray-800 text-sm font-medium">Mobile number</label>
                                    <input type="number" id="mobile" name="mobile" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                </div>
                            
                                <!-- email -->
                                <div class="mb-4">
                                    <label for="email" class="block text-gray-800 text-sm font-medium">E-mail</label>
                                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                </div>
                            
                                <!-- Submit Button -->
                                <div class="mt-6">
                                    <button type="submit" class="bg-gray-800 text-white p-3 rounded-md w-full hover:bg-gray-700">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure closes -->
                <div class="flex-1 bg-white rounded-lg shadow-xl mt-4 p-8">
                    <div class="flex justify-between">
                        <h4 class="text-xl text-gray-900 font-bold">Shipping addresses</h4>
                         <h4>
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline open-addAddressModal-button">Add</a>
                        </h4>
                    </div>
                    <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
                        <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">

                            <% if(addresses.length === 0){ %>
                                <p>no address</p>
                                <% }else{ %>
                                    <% addresses.forEach((address, index) => { %>
                                <div class="flex items-center mb-2">
                                    <input
                                        type="radio"
                                        id="address<%= index %>"
                                        name="selectedAddress"
                                        value="<%= address._id %>"
                                        <% if (index === 0) { %> checked <% } %>
                                    >
                                    <label for="address<%= index %>" class="ml-2 text-gray-800 dark:text-white mr-10">
                                        <%= address.street %>, <%= address.city %>, <%= address.state %>, <%= address.zip %>
                                    </label>
                                    <h4 class="m-4">
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline open-editAddress-button" data-address-id="<%= address._id %>">Edit</a>
                                    </h4>
                                    <h4 class="m-4">
                                        <a href="#" class="font-medium text-red-600 dark:text-blue-500 hover:underline open-deleteAddress-button" data-address-id="<%= address._id %>">Delete</a>
                                    </h4>
                                </div>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Modal Edit Address Structure -->
                <div id="editAddressModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                    <div class="modal-overlay fixed inset-0 bg-black opacity-50"></div>
                    <div class="modal-container bg-white w-full sm:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                        <div class="flex justify-end pr-4 pt-2">
                            <span id="closeEditAddressModal" class="modal-closeAddressModal cursor-pointer z-50">&times;</span>
                        </div>
                        <div class="modal-content py-4 text-left px-6">
                            <!-- Address Form -->
                            <form id="editAddressForm" class="mt-4">
                                <div class="mb-4">
                                    <label for="name" class="block text-gray-800 text-sm font-medium">Name</label>
                                    <input type="text" id="editName" name="name" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                </div>
                                <div class="mb-4">
                                    <label for="mobile" class="block text-gray-800 text-sm font-medium">Mobile number</label>
                                    <input type="text" id="editMobileNumber" name="mobile" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                </div>
                                <div class="grid grid-cols-2 gap-4">
                                    <div>
                                        <label for="street" class="block text-gray-800 text-sm font-medium">Street Address</label>
                                        <input type="text" id="editStreet" name="street" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>
                                    <div>
                                        <label for="state" class="block text-gray-800 text-sm font-medium">State</label>
                                        <input type="text" id="editState" name="state" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-4 mt-2">
                                    <div>
                                        <label for="city" class="block text-gray-800 text-sm font-medium">City</label>
                                        <input type="text" id="editCity" name="city" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>
                                    <div>
                                        <label for="zip" class="block text-gray-800 text-sm font-medium">Zip Code</label>
                                        <input type="text" id="editZip" name="zip" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                    </div>
                                </div>
                                <div class="mb-4 mt-2">
                                    <div>
                                        <label for="country" class="block text-gray-800 text-sm font-medium">Country</label>
                                        <select id="editCountry" name="country" class="mt-1 p-2 w-full border border-gray-300 rounded-md">
                                            <!-- Add your country options here -->
                                            <option value="india">India</option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                </div>
                                <!-- Submit Button -->
                                <div class="mt-6">
                                    <button type="submit" class="bg-gray-800 text-white p-3 rounded-md w-full hover:bg-gray-700">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Edit Address Structure closes here -->

                                    <!-- Modal Structure -->
                                    <div id="addAddressModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                                        <div class="modal-overlay fixed inset-0 bg-black opacity-50">
                                            
                                        </div>
                                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                            <div class="flex justify-end pr-4 pt-2">
                                                <span id="close" class="Addressmodal-close cursor-pointer z-50">
                                                    &times;
                                                </span>
                                            </div>
                                            <div class="modal-content py-4 text-left px-6">
                                                <!-- Address Form -->
                                                <form id="addAddressForm" class="mt-4">
                                                    <!-- Name -->
                                                    <div class="mb-4">
                                                        <label for="name" class="block text-gray-800 text-sm font-medium" >Full Name</label>
                                                        <input type="text" id="name" name="name" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                        <input type="text" id="userId" class="hidden" placeholder="<%= user._id %>">
                                                    </div>
                                                
                                                    <div class="mb-4">
                                                        <label for="mobile" class="block text-gray-800 text-sm font-medium">Mobile number</label>
                                                        <input type="number" id="mobile" name="mobile" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                    </div>
                                                
                                                    <!-- Street Address and State -->
                                                    <div class="grid grid-cols-2 gap-4">
                                                        <div>
                                                            <label for="street" class="block text-gray-800 text-sm font-medium">Street Address</label>
                                                            <input type="text" id="street" name="street" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                        </div>
                                                        <div>
                                                            <label for="state" class="block text-gray-800 text-sm font-medium">State</label>
                                                            <input type="text" id="state" name="state" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                        </div>
                                                    </div>
                                                
                                                    <!-- City, Zip Code, and Country -->
                                                    <div class="grid grid-cols-2 gap-4 mt-2">
                                                        <div>
                                                            <label for="city" class="block text-gray-800 text-sm font-medium">City</label>
                                                            <input type="text" id="city" name="city" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                        </div>
                                                        <div>
                                                            <label for="zip" class="block text-gray-800 text-sm font-medium">Zip Code</label>
                                                            <input type="text" id="zip" name="zip" class="mt-1 p-2 w-full border border-gray-300 rounded-md" required>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 mt-2">
                                                        <div>
                                                            <label for="country" class="block text-gray-800 text-sm font-medium">Country</label>
                                                            <select id="country" name="country" class="mt-1 p-2 w-full border border-gray-300 rounded-md">
                                                                <!-- Add your country options here -->
                                                                <option value="india">India</option>
                                                                <!-- Add more options as needed -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <!-- Submit Button -->
                                                    <div class="mt-6">
                                                        <button type="submit" class="bg-gray-800 text-white p-3 rounded-md w-full hover:bg-gray-700">Save Address</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Structure closes -->

                          

                <!-- Delete Confirmation Modal Structure -->
                <div id="deleteAddressModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                    <div class="modal-overlay fixed inset-0 bg-black opacity-50"></div>
                    <div class="modal-container bg-white w-full sm:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                        <div class="flex justify-end pr-4 pt-2">
                            <span id="closeDeleteAddressModal" class="modal-closeDeleteAddressModal cursor-pointer z-50">&times;</span>
                        </div>
                        <div class="modal-content py-4 text-left px-6">
                            <p class="text-gray-800 text-lg font-medium">Are you sure you want to delete this address?</p>
                            <div class="flex justify-end mt-4">
                                <button id="confirmDeleteAddress" class="bg-red-600 text-white p-3 rounded-md hover:bg-red-700">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Confirmation Modal Structure closes -->


            <div class="flex flex-col w-full 2xl:w-2/3">
                <!-- <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                    <h4 class="text-xl text-gray-900 font-bold">About</h4>
                    <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptates obcaecati numquam error et ut fugiat asperiores. Sunt nulla ad incidunt laboriosam, laudantium est unde natus cum numquam, neque facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, magni odio magnam commodi sunt ipsum eum! Voluptas eveniet aperiam at maxime, iste id dicta autem odio laudantium eligendi commodi distinctio!</p>
                </div> -->
                <div class="flex-1 bg-white rounded-lg shadow-xl mt-4 p-8">
                    <h4 class="text-xl text-gray-900 font-bold">Orders :</h4>
                    
                    

                    <!--content-->
                    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
                        <% if (orders.length > 0) { %>
                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-20">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Order ID
                                        </th>
                                        <!-- <th scope="col" class="px-6 py-3">
                                            User name
                                        </th> -->
                                        <!-- <th scope="col" class="px-6 py-3">
                                            Status
                                        </th> -->
                                        <th scope="col" class="px-6 py-3">
                                            Payment
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Price
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Order date
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <% orders.forEach(order => { %>
                                    <tbody>

                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <%=order.orderNumber%>
                                            </th>
                                            

                                            <td class="px-6 py-4">
                                                <%=order.paymentMethod %>
                                            </td>
                                            <td class="px-6 py-4">
                                                <%=order.totalPrice %>
                                            </td>
                                            <td class="px-6 py-4">
                                                <%=order.createdAt.toLocaleDateString('en-IN', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                            </td>
                                            <td class="px-6 py-4 relative">
                                                <div class="relative inline-block text-left">
                                                    <button <% if (order.delivered || order.status === 'Cancelled') { %>disabled<% } %>  type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                        <% if(order.status==="Delivered"){ %>
                                                        <p class="text-gray-600"><%=order.status  %></p>
                                                        <% }else if(order.status==="Cancelled"){ %>
                                                        <p class="text-red-500"><%=order.status  %></p>
                                                        <% }else if(order.status==="Cancelling"){ %>
                                                        <p class="text-red-500"><%=order.status  %></p>
                                                        <% }else{ %>
                                                            <p id="openConfirmationButton" class="font-medium text-blue-600 dark:text-blue-500 hover:underline open-cancelOrder-button" data-order-id="<%= order._id %>"> <%=order.status  %></p>
                                                        <% } %>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody> 
                                <% }); %>
                            </table>
                        </div>
                        <% }else{ %>
                            <div>
                                <p class="text-white">No orders</p>
                            </div>
                            <% } %>
                    </div>

                    <div id="cancelOrderModal" class="fixed inset-0 z-10 hidden flex justify-center items-center">
                        <div class="modal-overlay fixed inset-0 bg-black opacity-50"></div>
                        <div class="modal-container bg-white w-full sm:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                            <div class="flex justify-end pr-4 pt-2">
                                <span id="closeCancelOrderModal" class="modal-closeCancelOrderModal cursor-pointer z-50">&times;</span>
                            </div>
                            <div class="modal-content py-4 text-left px-6">
                                <p class="text-gray-800 text-lg font-medium">Are you sure you want to cancel this order?</p>
                                <div class="flex justify-end mt-4">
                                    <button id="confirmCancelOrder" class="bg-red-600 text-white p-3 rounded-md hover:bg-red-700">Cancel Order</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <% }else{ %>

        <script>
            window.location.href = "/brepublic/landing/login";
          </script>
        
        <% } %>
    <!-- <script>

            const DATA_SET_VERTICAL_BAR_CHART_1 = [68.106, 26.762, 94.255, 72.021, 74.082, 64.923, 85.565, 32.432, 54.664, 87.654, 43.013, 91.443];

            const labels_vertical_bar_chart = ['January', 'February', 'Mart', 'April', 'May', 'Jun', 'July', 'August', 'September', 'October', 'November', 'December'];

            const dataVerticalBarChart= {
                labels: labels_vertical_bar_chart,
                datasets: [
                    {
                        label: 'Revenue',
                        data: DATA_SET_VERTICAL_BAR_CHART_1,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    }
                ]
            };
            const configVerticalBarChart = {
                type: 'bar',
                data: dataVerticalBarChart,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Last 12 Months'
                        }
                    }
                },
            };

            var verticalBarChart = new Chart(
                document.getElementById('verticalBarChart'),
                configVerticalBarChart
            );
        </script> -->
</body>
<%-include('../includes/userEnd')  %>
<!-- <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script> -->

<!-- Updated JavaScript to handle opening and closing the modal -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let currentAddressId;

        function openEditAddressModal(addressId) {
            console.log(addressId)
            currentAddressId = addressId;

            populateAddressDetails(addressId)

            document.getElementById('editAddressModal').classList.remove('hidden');
        }

        function closeEditAddressModal() {
            currentAddressId = null;

            document.getElementById('editAddressModal').classList.add('hidden');
        }

        async function populateAddressDetails(addressId){
            try {
                const response = await fetch(`/brepublic/get-address/${addressId}`);
                const addressDetails = await response.json();
                if(response.ok){
                    document.getElementById('editName').value = addressDetails.name;
                    document.getElementById('editMobileNumber').value = addressDetails.mobile;
                    document.getElementById('editStreet').value = addressDetails.street;
                    document.getElementById('editState').value = addressDetails.state;
                    document.getElementById('editCity').value = addressDetails.city;
                    document.getElementById('editZip').value = addressDetails.zip;
                    // document.getElementById('editCountry').value = addressDetails.country
                }else{
                    console.error('Error fetching address details',error)
                }
            } catch (error) {
                console.error('Error fetching address details',error)
            }
        }

        document.addEventListener('click', function (event) {
            var target = event.target;

            if (target.classList.contains('open-editAddress-button')) {
                event.preventDefault();

                var addressId = target.getAttribute('data-address-id');

                openEditAddressModal(addressId);
            }

            if (target.id === 'closeEditAddressModal') {
                closeEditAddressModal();
            }
        });

        document.getElementById('editAddressForm').addEventListener('submit',async function(event){
            event.preventDefault();

            const formData = {
            name: document.getElementById('editName').value,
            mobile: document.getElementById('editMobileNumber').value,
            street: document.getElementById('editStreet').value,
            state: document.getElementById('editState').value,
            city: document.getElementById('editCity').value,
            zip: document.getElementById('editZip').value,
            country: document.getElementById('editCountry').value,
            }

            const response = await fetch(`/brepublic/edit-address/${currentAddressId}`,{
                method:'put',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify(formData)
            })
            const formDetails = await response.json()
            if(response.ok){
                console.log('Address updated succesfully ');
                closeEditAddressModal()
                location.reload()
            }else{
                console.error('Error updating address details')
            }
        })
    });
</script>

<!--put request for update the address details-->
<script>
    const modal = document.getElementById('editPersonalInfoModal');
    const btn = document.querySelector('.open-personalInfomodal-button');
    const span = document.querySelector('.modal-closePersonalInfo');
    const userId = document.getElementById('userId').value;
    const form = document.getElementById('userUpdateForm')

    btn.onclick = async function () {
        const userData = await fetchUserData(userId);
        form.querySelector('#firstName').value = userData.user_firstName || "";
        form.querySelector('#secondName').value = userData.user_secondName || "";
        form.querySelector('#mobile').value = userData.user_mobile || "";
        form.querySelector('#email').value = userData.user_email || "";
        modal.classList.remove('hidden');
    };

    span.onclick = async function () {
        modal.classList.add('hidden');
    };

    window.onclick = async function (event) {
        if (event.target === modal) {
            modal.classList.add('hidden');
        }
    };

    async function fetchUserData(userId){
        try {
            const response = await fetch(`/brepublic/users/${userId}`)
            const data = await response.json();
            return data
        } catch (error) {
            console.error('Error fetching user data,',error)
        }
    }

    //update the details in to the db
    form.addEventListener('submit',async (event)=>{
        event.preventDefault()

        const firstName = document.getElementById('firstName').value;
        const secondName = document.getElementById('secondName').value;
        const mobile = document.getElementById('mobile').value;
        const email = document.getElementById('email').value;

        const response = await fetch(`/brepublic/update-user/${userId}`,{
            method:'put',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({firstName,secondName,mobile,email})
        })
        if(response.ok){
            console.log("User data updated successfully")
            location.reload()
        }else{
            console.error('Error updating user data:', response.statusText);
        }
        console.log(firstName)
    })
</script>

<script>
    // Open and Close Delete Modal
    document.addEventListener('click', function (event) {
        var target = event.target;

        if (target.classList.contains('open-deleteAddress-button')) {
            event.preventDefault();
            openDeleteAddressModal(target.getAttribute('data-address-id'));
        }

        if (target.id === 'closeDeleteAddressModal') {
            closeDeleteAddressModal();
        }
    });

    function openDeleteAddressModal(addressId) {
        document.getElementById('deleteAddressModal').classList.remove('hidden');
        document.getElementById('confirmDeleteAddress').setAttribute('data-address-id', addressId);
    }

    function closeDeleteAddressModal() {
        document.getElementById('deleteAddressModal').classList.add('hidden');
    }

    document.getElementById('confirmDeleteAddress').addEventListener('click', async function () {
        const addressId = this.getAttribute('data-address-id');
        if (addressId) {
            try {
                const response = await fetch(`/brepublic/delete-address/${addressId}`, {
                    method: 'delete',
                });

                if (response.ok) {
                    console.log('Address deleted successfully');
                    closeDeleteAddressModal();
                    location.reload()
                } else {
                    console.error('Error deleting address');
                }
            } catch (error) {
                console.error('Error deleting address', error);
            }
        }
    });
</script>

<script>
    // Open and Close Cancel Order Modal
    document.addEventListener('click', function (event) {
        var target = event.target;

        if (target.classList.contains('open-cancelOrder-button')) {
            event.preventDefault();
            openCancelOrderModal(target.getAttribute('data-order-id'));
        }

        if (target.id === 'closeCancelOrderModal') {
            closeCancelOrderModal();
        }
    });

    function openCancelOrderModal(orderId) {
        document.getElementById('cancelOrderModal').classList.remove('hidden');
        document.getElementById('confirmCancelOrder').setAttribute('data-order-id', orderId);
    }

    function closeCancelOrderModal() {
        document.getElementById('cancelOrderModal').classList.add('hidden');
    }

    document.getElementById('confirmCancelOrder').addEventListener('click', async function () {
        const orderId = this.getAttribute('data-order-id');
        console.log(orderId)
        if (orderId) {
            try {
                const response = await fetch(`/brepublic/cancel-request/${orderId}`, {
                    method: 'put',
                });

                if (response.ok) {
                    console.log('Order request sent');
                    closeCancelOrderModal();
                    location.reload()
                } else {
                    console.error('Error canceling order');
                }
            } catch (error) {
                console.error('Error canceling order', error);
            }
        }
    });
</script>

<script>

</script>


<script>
    const addAddressModal = document.getElementById('addAddressModal')
    const openAddressModalBtn = document.querySelector('.open-addAddressModal-button')
    const closeAddressSpan = document.querySelector('.Addressmodal-close')
    const formAdd = document.getElementById('addAddressForm')
    console.log(openAddressModalBtn)

    const addressUserId = document.getElementById('userId').getAttribute('placeholder')

    openAddressModalBtn.onclick = async function (){
        addAddressModal.classList.remove('hidden')
    }
    closeAddressSpan.onclick = async function (){
        addAddressModal.classList.add('hidden')
    }

    window.onclick = async function (event){
        if(event.target === addAddressModal){
            addAddressModal.classList.add('hidden')
        }
    }

    formAdd.addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(document.getElementById('addAddressForm'));


        try {
            const response = await fetch('/brepublic/addAddress', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userId: userId,
                    name: formData.get('name'),
                    mobile: formData.get('mobile'),
                    street: formData.get('street'),
                    state: formData.get('state'),
                    city: formData.get('city'),
                    zip: formData.get('zip'),
                    country: formData.get('country'),
                }),
            });

            if (response.ok) {
                const savedAddress = await response.json();
                location.reload()
            } else {
                console.error('Error saving address:', response.statusText);
            }
        } catch (error) {
            console.error('Error during form submission:', error);
        }
    })
</script>






    


